* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;

}

:root {
    --primaryColor: #be9c79;
    --secondaryColor: #666666;
    --tertiaryColor: #333333;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --regularFont: 1.6rem;
    --headingFont: 2.5rem;
    --ffPrimary: "Nunito Sans", sans-serif;
    --ffSecondary: "Merienda", cursive;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "Nunito Sans", serif;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
}

header,
main,
footer {
    width: 100%;
    height: auto;
}

.componentSpacing {
    padding: 3rem 0rem;
}

.screenSize {
    max-width: 1200px;
    margin: auto;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-image {
    height: 4rem;
    width: auto;
    margin-bottom: 0rem;
}

.header-main {
    color: var(--tertiaryColor);
    font-family: var(--ffSecondary);
    font-size: 3.9rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0rem;
    margin-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
span {
    /* background-color: #0eb8ce; */
    font-family: var(--ffPrimary);
    color: var(--darkColor);
    font-size: var(--regularFont);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* :::HEADER Code Starts hereE::: */
/* Navbar code */
.navBody {
    padding: 2rem 0rem;
}

.navImageBox figure {
    margin-top: 0.6rem;
}

.navImageBox figure img {
    width: auto;
    height: 5rem;
    margin-left: 6.5rem;
}

.navLinkBox ul {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.7rem;
}

.navLinkBox ul li {
    margin-left: 2rem;
}

.navLinkBox ul li a {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0rem;
}

/* Navbar code */

/* Hero Section code */
.hero {
    background: linear-gradient(90deg, white, transparent 70%), url(./assets/images/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 23rem 4rem;
}

.heroBlock {
    width: 50%;
    height: auto;
}

.heroBox {
    /* background-color: blueviolet; */
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.heroBox h1 {
    /* background-color: brown; */
    color: var(--tertiaryColor);
    font-family: var(--ffSecondary);
    font-size: 7rem;
    font-weight: 1000;
    line-height: 1.2;
}

.heroBox p {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0rem;
    margin-bottom: 1.8rem;
}

.heroBox button {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    font-family: var(--ffPrimary);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    padding: 1rem 3rem;
    border: none;
}

.heroBox button:hover {
    background-color: #000000;
    transition: background-color 0.2s ease;
}

/* Hero Section code */
/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */
/* Our Menu code */

.ourMenuBox {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0rem 2rem;
}

.ourMenuBox h2 {
    color: var(--tertiaryColor);
    font-family: var(--ffSecondary);
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.ourMenuBox p {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary );
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.ourMenuBox button {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3.2rem;
    line-height: 1.5;
    border: none;
}
.ourMenuBox button:hover{
    background-color:#000;
    transition: background-color 0.2s ease;
}

/* Our Menu code */

/* Facility code */
.facilityBody {
    padding: 0rem 6rem;
}

.facilityBox .cardHeader figure img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.facilityBox .cardMain h3 {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.facilityBox .cardMain p {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 4rem;
}

/* Facility code */

/* Popular code */
.popularBox .cardHeader figure img {
    width: 100%;
    height: auto;
}

.popularBox .cardMain p {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 500;
    line-height: .5;
    margin-bottom: 5rem;
}

/* Popular code */

/* Gallery code */
.galleryBox .cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryBox .cardHeader figure img {
    width: 100%;
    height: auto;
}

/* Gallery code */

/* Team code */
.teamBox .cardHeader figure img {
    width: 100%;
    height: auto;
}

.teamBox .cardMain p {
    color: var(--darkColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 0rem;
    margin-bottom: 3.5rem;
}

/* Team code */
/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* Contact code */
.contactFormBox {
    border: 1px solid #000;
    padding: 3rem;
    background: #fff;
}

.contactFormBox h3 {
    color: var(--tertiaryColor);
    font-family: var(--ffPrimary);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.contactFormBox {
    /* background-color: aqua; */
}

.formGroup {
    /* background-color: brown; */
    /* width: 100%; */
}

form {
    /* background-color: blue; */
    width: 100%;

}

.formGroup input {
    font-family: inherit;
    width: 100%;
    height: auto;
    padding: 1.7rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #777;
    box-sizing: border-box;
    /* background-color: darkblue;   */

}

.formGroup button {
    /* width: 70%; */
    height: auto;
    padding: 1.3rem;
    background: var(--primaryColor);
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 2rem;
}

/* Contact code */

/* Contact Icons code */

.contactionsBox .cardHeader i {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    font-size: 4rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.contactionsBox .cardMain h3 {
    color: var(--tertiaryColor);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.contactionsBox .cardMain p {
    color: var(--tertiaryColor);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
}

.copyright{
   font-family: var(--ffPrimary) ;
   font-size: 2rem;
}
.copyright span {
    color: var(--primaryColor);
    font-family: var(--ffPrimary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0rem;
}

/* Contact Icons code */
/* :::FOOTER Code Ends here::: */


/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

    .heroBox h1 {
        font-size: 25px;
    }

    .heroBox p {
        font-size: 10px;
        font-weight: 400;
    }

    .heroBox button {
        font-size: 20px;
    }

    .ourMenuBox h2 {
        font-size: 40px;
    }

    .ourMenuBox P {
        font-size: 12px;
    }

    .ourMenuBox button {
        font-size: 20px;
    }

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }


}

/* Medium devices (tablets, upto 768px and above) */
/* @media (width >=577px) and (width <=768px) */
@media (min-width: 577px) and (max-width: 768px) {
    /* write code here */
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (width >=769px) and (width <=992px) */
@media (min-width: 769px) and (max-width: 992px) {
    /* write code here */
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (width >=993px) and (width <=1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
    /* write code here */
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (width >=1200px) */
@media (min-width: 1201px) {
    /* write code here */
}